<div *ngIf="product.title" class="card">
    <img *ngIf="product.imageUrl" class="card-img-top" src="{{product.imageUrl}}"
      alt="{{product.title}}">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.price | currency:'USD':true}}</p>
    </div>
    <div *ngIf="showActions && cart" class="card-footer">
      <button *ngIf="cart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()"
        class="btn btn-secondary btn-block">Add to Cart</button>
      <ng-template #updateQuantity>
        <product-quantity [product]="product" [cart]="cart"></product-quantity>
      </ng-template>
    </div>
  </div>