/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');



$primary-color: green;

.navbar-light .navbar-brand {
    color: $primary-color;
}

.fa-shopping-cart {
    color: $primary-color;
}

.list-group-item.active {
    background-color:$primary-color;
}
