  <form #maForm="ngForm" (ngSubmit)="submit(maForm)">

  <!--Task 1 - Create ModelGroup for Contact Details-->
  <!--Task 2 - Bind NgModel Group-->
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">Every Validation Error...</div>
    <div class="form-group">
      
      <label for="firstName">First Name</label>
      <input 
        required 
        minlength="3" 
        maxlength="10" 
        pattern="banana" 
        ngModel name="firstName" 
        #firstName="ngModel" 
        id="firstName" 
        type ="text" 
        class="form-control">
    

      <div 
        class="alert alert-danger" 
        *ngIf="!firstName.valid && firstName.touched">
        <div *ngIf="firstName.errors.required">
          First Name is Required!
        </div>
        <div *ngIf="firstName.errors.minlength">
          Min Length > {{firstName.errors.minlength.requiredLength}}
        </div>
        <div *ngIf="firstName.errors.pattern"> 
          Must Follow the Required Pattern!
        </div>
      </div>
    </div>
</div>

  <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"> </textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>