<form>
  <div class="form-group">
    <label for="firstName">First Name</label>

    <!--Huge Lines Should be Broken down, Validation Parameters First(most important), bindings then general HTML Properties -->
    <input 
      required 
      minlength="3" 
      maxlength="10" 
      pattern="banana" 
      ngModel name="firstName" 
      #firstName="ngModel" 
      (change)="log(firstName)" 
      id="firstName" 
      type ="text" 
      class="form-control">
  
    <!--Again breaking up these massive lines into smaller, more manageable chunks. -->
    <div 
      class="alert alert-danger" 
      *ngIf="!firstName.valid && firstName.touched">
      <div *ngIf="firstName.errors.required">
        First Name is Required!
      </div>
      <div *ngIf="firstName.errors.minlength">
        Min Length > {{firstName.errors.minlength.requiredLength}}
      </div>
      <div *ngIf="firstName.errors.pattern"> 
        Must Follow the Required Pattern!
      </div>
    </div>
  </div>

  <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"> </textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>