<!--Task 1 - Create Input Field-->
<div class="form-group">
    <label for="post">Create a Post</label>
    <input
    (keyup.enter)="createPost(title)" #title
    type="text" class="form-control">
</div>

<ul class="list-group">
  <li 
   *ngFor="let post of posts"
   class="list-group-item">
   {{post.title}}
   <button
   (click)="updatePost(post)"
   class="btn btn-default btn-sm">Update</button>
    - 
   <button
   (click)="deletePost(post)"
   class="btn btn-default btn-sm">Delete</button>
  </li>
</ul>