<div *ngIf="productNode.product.title" class="card">
    <img *ngIf="productNode.product.imageUrl" class="card-img-top" src="{{productNode.product.imageUrl}}" alt="{{productNode.product.title}}">
    <div class="card-body">
      <h5 class="card-title">{{productNode.product.title}}</h5>
      <p class="card-text">{{productNode.product.price | currency:'USD':true}}</p>
    </div>
    <div *ngIf="showActions" class="card-footer">
      <button *ngIf="getQuantity() === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block">Add to Cart</button>
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <!--Task 2 - Task 2 - Implement Remove Product:-->
          <div class="col-2">
            <button (click)="removeFromCart()" class="btn btn-secondary btn-block">-</button>
          </div>
          <div class="col text-center">{{getQuantity()}} in Cart.
          </div>
          <!--Task 1 - Task 2 - Implement Add Product:-->
          <div class="col-2">
              <button (click)="addToCart()" class="btn btn-secondary btn-block">+</button>
            </div>
        </div>
      </ng-template>
    </div>
  </div>