
.card {
    margin-bottom: 30px;
}
/*Standardize Image Size*/
.card-img-top {
    width: 100%;
    height: 263px;
}

.card-footer {
    padding: 0;
}

.card-footer button {
    cursor: pointer;
}

.btn {
    background-color: green;
}