<div class="zippy">
  <div 
    class="zippy-heading"
    [class.expanded]="isExpanded"
    (click)="toggle()">
    {{ title }}
    <span class="glyphicon"
      [ngClass]="{
        'glyphicon-chevron-up': isExpanded,
        'glyphicon-chevron-down': !isExpanded
      }"
    ></span>
  </div>
  
  <!--Task 4 - Dynamically Allocate Trigger-->
  <div 
  [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'"
  class="zippy-body">
    <ng-content></ng-content>
  </div>
</div>

<!--Task 1 - Apply Animation Trigger-->
<!-- 
<div 
@expandCollapse
class="zippy-body" [hidden]="!isExpanded">
  <ng-content></ng-content>
</div>
</div-->