<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<!--Task 2 - Add Data Table:-->
<table [mfData]>
  WEH
</table>
<input
#query
(keyup)="filter(query.value)"
type="text" class="form-control" placeholder="search">

<table class="table">
  <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredList">
      <td>{{p.product.title}}</td>
      <td>{{p.product.price}}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>