/*Import Angular Material SASS*/
@import " ../../../node_modules/@angular/material/theming";

/*Include Core Styles*/
@include mat-core();

/*---Define Custom Theme:---*/
$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-yellow, 700);
$app-warn: mat-palette($mat-red);


/*Define a Theme:*/
/*$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);*/

/*Switch to Dark Theme:*/
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

/*Use Theme:*/
@include angular-material-theme($app-theme);

/*Task 3 - Create Custom Typography:*/
$app-typography: mat-typography-config(
    $font-family: '"Open Sans", "Helvetica Neue", "sans-serif"',
    /*Task 4 - Customize Typography:*/
    $headline: mat-typography-level(35px, 32px, 700)
);

/* Task 4 - Use Typography*/
@include angular-material-typography($app-typography);