/*Task 1 - Import Angular Material SASS*/
@import " ../../../node_modules/@angular/material/theming";

/*Task 2 - Include Core Styles*/
@include mat-core();

/*Task 3 - Define Custom Colors:*/
$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-yellow, 700);
$app-warn: mat-palette($mat-red);


/*Task 4 - Define a Theme:*/
/*$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);*/

/*Task 7 - Switch to Dark Theme:*/
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);


/*Task 5 - Use Theme:*/
@include angular-material-theme($app-theme);