<form [formGroup]="form" (ngSubmit)="resetPassword()">

    <!--old Password-->
    <div *ngIf="oldPassword.touched && oldPassword.errors" class="alert alert-danger">
        <div *ngIf="oldPassword.errors.required">Field is Required</div>
        <div *ngIf="oldPassword.errors.checkPasswordExists">Cannot Use Existing Password!</div>
    </div>

    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" id="oldPassword" type="text" class="form-control">
    </div>

    <!--New Password-->
    <div *ngIf="newPassword.touched && newPassword.errors" class="alert alert-danger">
        Field is Required
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" id="newPassword" type="text" class="form-control">
    </div>

    <!--Confirm Password-->
    <div *ngIf="confirmPassword.touched && confirmPassword.errors" class="alert alert-danger">
        <div>Field is Required</div>
    </div>
    <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch" class="alert alert-danger">Passwords DO NOT Match</div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" id="confirmPassword" type="text" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit">Change Password</button>
</form>